*.fai
bin/
out.vcf
.classpath
.settings/
*java.util*
*java.io*
src/org.junit.Assert.assertEquals
.project
*.class
*.in
*.out
*.ngm
*.region.fa
*.log
update.sh
test/*
resultsstore.txt
results.tsv
rebuilt_external_scripts/
