[submodule "canu"]
	path = canu
    url = https://github.com/marbl/canu.git
[submodule "ngmlr"]
	path = ngmlr
	url = https://github.com/philres/ngmlr.git
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2.git
